body {
  height: 200vh;
}
.boxes-v1 {
  position: relative;
  border: 3px solid lightgray;
}
.box-v1 {
  width: 5rem;
  height: 5rem;
}
.box-one-v1 {
  background: gold;
}
.box-two-v1 {
  background: tomato;
  position: fixed; /*position the element relative to the viewport */
  left: 5rem;
  right: 5rem;
  width: auto;
  top: 0;
}
.box-three-v1 {
  background: dodgerblue;
  position: relative; /*position an element relative to its normal position.  */
  left: 5rem;
}

/* Very very Important */
.container-v2 {
  border: 3px solid lightgray;
  display: flex;
  /* flex-direction: row; */
  justify-content: center;
  height: 50vh;
  align-items: center;
  /* flex-wrap: wrap;
  align-content: center; */
}
.box-v2 {
  width: 5rem;
  height: 5rem;
  background: gold;
  margin: 1rem;
}
/* Very very Important. Overwrite align-items */
.box-A-v2 {
  flex-basis: 10rem;
  align-self: flex-start;
}

/* Very very Important. grid */
.container-v3 {
  border: 3px solid lightgrey;
  display: grid;
  grid-template-rows: 10rem 10rem 10rem;
  grid-template-columns: repeat(2, 10rem);
  justify-items: center; /*for element in grid */
  align-items: center; /*for element in grid */
  justify-content: center; /*for grid in container */
  align-content: center; /*for grid in container */
}

.box-v3 {
  height: 5rem;
  width: 5rem;
  background: gold;
}

.container-v4 {
  border: 3px solid lightgrey;
  display: grid;
  grid-template: 10rem auto 10rem / 30fr 70fr;
  /*justify-items: stretch; */ /*for element in grid */
  /*align-items: stretch; */ /*for element in grid */
  grid-template-areas:
    "header  header"
    "sidebar main"
    "footer  footer"
    /* ".       footer" */ /*if we want to have an empty cell*/;
  gap: 1rem;
  height: 100vh;
}

.box-v4 {
  background: gold;
}
.box-one-v4 {
  /* grid-column: 1 / span 2; */ /*if we want to use number of lines or column */
  grid-area: header; /*without "" */
}
.box-four-v4 {
  /* grid-column: 1 / span 2; */ /*if we want to use number of lines or column */
  grid-area: footer;
}

/* Important. hiding element */
.first {
  /* display: none; */ /*hides the element as if it was never there*/
  visibility: hidden; /*hides just the element but not its place*/
}
/* Very very Important. media queries */
.container-v5 {
  display: flex;
  flex-direction: column;
}
.box-v5 {
  background: gold;
  padding: 1rem;
}
/* psudo class selector: target the second items with the class of .box-v5 */
.box-v5:nth-of-type(2) {
  background: dodgerblue;
}
@media screen and (min-width: 600px) {
  .container-v5 {
    flex-direction: row;
  }
}
/* setting styles that only apply to printers */
@media print {
  body {
    font-size: 12pt;
    margin: 5mm;
  }
}
/*exercise-1*/
/* V1 */
.container-exercis-1-v1 {
  margin-top: 5rem; /* for distance from last task */
  border: 0.1rem solid black;
  height: 20rem;
}

.navi-list-v1 {
  /* position: fixed;*/
  background-color: black;
  margin-bottom: 1rem;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding: 0.7rem;
  list-style-type: none;
}
.list-v1 {
  color: white;

  padding: 0.5rem;
}
@media screen and (min-width: 768px) {
  .navi-list-v1 {
    text-align: right;
  }
  .list-v1 {
    display: inline-block;
  }
}

/* V2 */
.container-nav-exercis-1-v2 {
  margin-top: 5rem; /* for distance from last task */
  border: 0.1rem solid black;
  height: 20rem;
}
nav {
  margin-bottom: 1rem;
}
nav ul {
  background-color: black;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style-type: none;
  padding: 0.7rem;
}
nav li {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0.5rem 0;
}
nav a {
  color: white;
  padding: 0.7rem;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  nav ul {
    flex-direction: row;
    justify-content: end;
  }
  nav li {
    margin: 0 0.5rem;
  }
}

/*exercise-2*/
.photo-gallery {
  /* border: 3px solid lightgray; */
  display: grid;
  grid-gap: 1rem;
}

img {
  object-fit: cover;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .photo-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .photo-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
  .img2 {
    grid-column: 2 / 4;
    grid-row: 1 / 3;
  }
  .img9 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .img8 {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}
