#first_title {
  margin-top: 0;
}
.title {
  margin: 10rem 0 1rem;
  color: pink;
  font-weight: bolder;
}
form {
  width: 25%;
  padding: 2rem;
}
/* Text Fields */
textarea {
  resize: none;
  margin-top: 2rem;
}
/* Data Lists */
